:root {
  box-sizing: border-box;
  --font: 'Helvetica';
  --font-size: 16;
  --grid-row-col-count: 4;
  --secondary-text: rgb(235, 235, 235);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: bold;
}

.gif-grid {
  width: 600px;
  height: 600px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--grid-row-col-count), 1fr);
  grid-template-rows: repeat(var(--grid-row-col-count), 1fr);
  border: 5px solid black;
}

.gif-grid-error {
  position: absolute;
  background-color: rgb(44, 121, 134);
  color: var(--secondary-text);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.display-none {
  display: none;
}

.gif-grid img {
  height: 100%;
  width: 100%;
}

.searchbar {
  display: flex;
  gap: 1rem;
}

.searchbar input,
.searchbar button {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-family: var(--font);
  font-size: var(--font-size);
}

.searchbar input {
  width: 250px;
  padding: 0.5rem;
}

.searchbar button {
  padding: 0.5rem;
}

.searchbar button:hover {
  background-color: rgb(235, 235, 235);
}

.searchbar button:active {
  background-color: rgb(48, 48, 48);
  color: var(--secondary-text);
}
